body {
  margin: 0px;
  background-color: #12171c;
  color: white;
  width: 100vw;
  margin-bottom: 50px;
}
main ul {
  display: block;
}
main h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
}
main ul li {
  display: inline;
}
main ul li a {
  color: white;
  padding: 5%;
  margin: 1%;
  display: inline-block;
  text-decoration: none;
}
main p {
  postion: absolute;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  font-style: normal;
  text-align: center;
  font-family: sans-serif;
  line-height: 250%;

}
menu {
  overflow: hidden;
  background-color: black;
  height: 50vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
menu img {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 10%;
  margin-top: 3%;
  width: 20%;
  height: 70%;
}
menu p {
  position: relative;
  display: inline-block;
  margin-top: 8%;
  margin-left: 5%;
  padding: 2%;
  background-color: grey;
}
#Webify {
    background-image: url("Spotify_Icon_RGB_Green.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#Javafy {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
