body {
  margin: 0px;
  background-color: #302f2e;
  color: white;
  width: 100vw;
  margin-bottom: 50px;
}
main ul {
  display: block;
}
main h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
}
main ul li {
  display: inline-block;
  padding: 5%;
  margin-left: 1%;
  background-color: #2b2b29;
}
main p {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  font-style: normal;
  text-align: center;
  font-family: sans-serif;
}
menu {
  overflow: hidden;
  background-color: black;
  height: 50vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
menu img {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 10%;
  margin-top: 3%;
  width: 20%;
  height: 70%;
}
menu p {
  position: relative;
  display: inline-block;
  margin-top: 8%;
  margin-left: 5%;
  padding: 2%;
  background-color: grey;
}
footer {
  display: block;
}
footer ul {
  position: absolute;
  display: inline-block;
  height: 100%;
  margin: 0px;
  padding-top: 10%;
  float: right;
}
