body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url("htmlbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  backdrop-filter: grayscale(100%);
}
nav {
  postion: absolute;
  width: 100%;
  height: 10%;

}
nav h3 {
  display: inline-block;
  padding-right: 5%;
  float: right;
}
nav h3 a {
  text-decoration: none;
  text-align: center;
  font-family: cursive;
  color: white;
  font-size: 125%;
}
#menuLoner {
  padding-left:5%;
  float: left;
}

main {
  display: block;
  padding-top:15%;
}
main h1 {
  color: white;
  text-align: center;
}
main ul {
  padding: 2%;
  text-align: center;
}
main ul li {
  align: center;
  color: white;
  padding-left: 10%;
  display: inline-block;
}
