body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url("placeholder.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  backdrop-filter: grayscale(70%);
}
nav {
  postion: absolute;
  width: 100%;
  height: 10%;
  animation-name: tester;
  animation-duration: 5s;
}
nav ul li {
  display: inline-block;
  padding-right: 5%;
  float: right;
  transition: transform 1s;
}
nav ul li a {
  text-decoration: none;
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 150%;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-width: thin;

}
nav ul li:hover {
  transform: scale(1.2);
}

#AboutContent, #Guide {
  display: none;
  padding: 0px;
  width: 100%;
}
#AboutContent article, #Guide section {
  float: right;
  width: 40%;
  margin-right: 1%;
  padding: 1%;
  border-style: solid;
  border-width: thin;
  border-color: white;
  font-size: 1vw;
  color: white;
  text-align: right;
  line-height: 2vw;
}
#AboutContent article h2 {
  font-size: 1.5vw;
  font-style: oblique;
}
/*#Guide {
  display: none;
  padding: 0px;
  width: 80%;
  margin: auto;
}
#Guide section{
  width: 100%;
  color: white;
  border-style: solid;
  border-width: thin;
}

#Guide section p {
  text-align: center;
  font-size: 150%;
  font-family: monospace;
  line-height: 200%;
}*/
#ProjectContent {
  display: none;
  padding: 0px;
  width: 100%;
  margin: 0px;
}
#ProjectContent h2 {
  color: white;
  font-size: 2vw;
  text-align: center;
}
#ProjectContent  ul {
  display: block;
}
#ProjectContent  ul li {
  display: inline;
}
#ProjectContent  ul li a {
  background-color: black;
  color: white;
  padding: 5%;
  margin: 1%;
  display: inline-block;
  text-decoration: none;
  transition: transform 1s;
}
#ProjectContent  ul li a:hover {
  transform: scale(1.2);
}
main {
  animation-name: tester;
  animation-duration: 5s;
  display: block;
  width: 100vw;
}
main h1 {
  font-family: monospace;
  font-size: 350%;
  border-style: solid;
  border-width: thin;
  color: white;
  padding: 2% 0px 2% 0px;
  text-align: center;
  transition: transform 1s;
  width: 20%;
  float: right;
  margin-right: 6%;
}
main h1:hover {
  transform: scale(1.2);
}
@keyframes tester {
  from {opacity: 0;}
  to {opacity: 1;}
}
#Timer {
  font-size: 6vw;
  position: absolute;
  color: white;
  margin-left: 27vw;
  margin-top: 27vh;
  opacity: 30%;
}
#ResumePic {
  display: none;
  width: 25vw;
  height: 38vh;
  position: absolute;
  margin-left: 25vw;
  margin-top: 17vh;
  opacity: 70%;
}
