.top_component {
    height: calc(100% - 5.5em);
    display: block;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, rgb(21, 14, 14),  rgb(23, 51, 112), rgb(21, 14, 14));
}
.timeline {
    width: 15%;
    float: left;
    height: 100%;
    overflow-y: hidden !important;
}
.main_box {
    width: 85%;
    height: 100%;
    float: right;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.content_body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 2;
}
.content_header {
    min-height: 10%;
}
.content_footer{
    min-height: 10%;
}
.content_box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    scroll-snap-align: center;
}