.hidden_menu_items {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
    border: 0.1em solid white;
    backdrop-filter: blur(2em);
}

.expanded_menu_items {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

.expand_sidebar_icon {
    display: none;
    height: 2em;
}

@media (max-width: 800px) {
    .expand_sidebar_icon{ display: flex !important; }
    .expanded_menu_items{ display: none !important; }
}