.main_content {
    height: calc(100% - 5.1em);
    width: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/ce/Usa-world-trade-center-skyscrapers-reflection-night-skyline-cityscape.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    backdrop-filter: blur(100px);
    clip-path: circle(100%);
}

.project_content {
    height: 33%;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project_content > *:first-child {
    margin-top: 10%;
}
.internal_project_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.internal_project_content > h1 {
    text-align: right;
    margin: 0;
}