div > p {
    color: white;
}
.timeline_container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.timeline_item {
    color: white;
    scroll-snap-align: start;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 10%;
    border-radius: 100%;
    background-color: deepskyblue;
}