.main_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    margin: 0 1em 0 1em;
}

.main_body > div {
    margin-bottom: 1em;
}
.main_body > h1 {
    font-size: 4em;
    border-bottom: 5px solid white;
}

.content_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.college_text_content > h2 {
    margin-left: 2em;
}