.left_content {
    max-width: 70%;
    flex-shrink: 2;
    color: white;
    font-size: 1.5em;
}
.left_content > h1 {
    border-bottom: 5px solid white;
}
.right_content {
    margin-top: 5%;
}
.shortcut_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.shortcut_links > a {
    padding: 1% 2% 1% 2%;
    background-color:darkcyan;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 2;
}
.my_picture {
    max-height: 20em;
}